.main-content{
    width:95vw;
    height:85vh;
}
.login-content{
    background-color:rgb(28, 164, 28);
    width:50%;
    height:90%;
    margin-left:23%;
    color:white;
}
.input,button{
    width:50%;
    /* height:100%; */
    padding:3%;
}
#form{
    margin-top:16%;
}
#register-button{
    background-color:rgb(4, 4, 102);
    color:white;
}

