body{
    width:100%;
    background-image: url("./src/assets/back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}


.login-input{
    width:120%;
    padding:7%;
    margin-left:190%;
    border-radius:7px;
    border:2px white solid;
    opacity:0.7;
    color:white;
    background-color: transparent;
      
}
::placeholder{
    color:white;
}
#submit-button{
    background-color:rgb(237, 22, 58);
    color:white;
    margin-left:190%;
    width:136%;
    padding:6%;
}

#register-button{
    color:white;
    background-color:blue;
    margin-left:190%;
    width:136%;
    padding:6%;
}

button{
    margin-left:37%;
}
#email-icon{
    margin-left:36%;
    margin-top:1.5%;
    position:absolute;
    color:white;
}

#password-icon{
    position:absolute;
    margin-left:36%;
    margin-top:1.4%;
    color:white;
}
